body {
    background: #000;
    color: #fff
}

.topPart {
    position: relative;
    text-align: center;
    color: white;
}

.greeting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300px;
    font-family: Rockwell;
    text-shadow: 10px 10px #000
}

.intro {
    font-family: Optima;
    font-size: 30px;
    text-indent: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

.factTitle {
    font-family: Georgia;
    font-size: 40px;
    text-align: center;
}

.facts {
    position: relative;
    color: #fff;
}

.chalkboard {
    border: 10px solid #B66644;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    text-align: center;
}

.writing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: Chalkduster;
}

.eraser {
    height: 50px;
    width: 100px;
    margin-left: 47%;
    text-align: center;
    font-family: Geneva;
    background-color: #CB1717;
    color: #fff;
}

h4 {
    text-align: center;
    font-family: Rockwell;
    font-size: 50px;
}

.feedback {
    margin-left: 27%;
}

#pizza {
    height: auto;
    width: 30%;
}

h3 {
    font-family: Georgia;
    font-size: 30px;
    text-align: center;
}